@use "../../sass/abstracts/" as *;

.relative {
  position: relative;
  p {
    padding-top: 4px;
  }
}

.label {
  transition: all 0.1s ease-in-out;
  position: absolute;
  top: 12%;
  left: 10px;
  transform: scale(0.95);
  opacity: 1;
  pointer-events: none;
  font-size: $fs-14;
  font-weight: $fw-700;
  color: $dark-color;
}

.input:focus ~ label,
.input:not(:placeholder-shown) ~ .label {
  top: 12%;
  left: 10px;
  background: transparent;
  color: $dark-color;
  opacity: 1;
}

.input {
  outline-color: $accent-color;
  border: 2px solid map-get(map-get($colors, neutral), 400);
  padding: 25px 10px 12px 10px;
  width: 100%;
  font-size: $fs-12;
  border-radius: 4px;
  font-weight: $fw-700;
  color: map-get(map-get($colors, neutral), 500);
  margin-right: -2rem;

  &::placeholder {
    color: map-get(map-get($colors, neutral), 500);
  }

  &:focus-visible {
    border-color: $accent-color;
  }

  &__icon {
    border: none;
    background: none;
    pointer-events: none;
    margin-top: 0.1em;
    outline: none;
  }
}
