@use "../abstracts/" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh - 10vh;
  background-color: map-get(map-get($colors, neutral), 200);
  overflow-x: hidden;
  margin-bottom: 10vh;
}

input,
button,
select {
  font-family: inherit;
}

ul {
  list-style: none;
}

.disabled {
  cursor: not-allowed !important;
  background-color: #e8e8e8 !important;
  color: #acacac !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.error {
  border-color: map-get(map-get($colors, primary), 400) !important;
}

.error__message {
  color: map-get(map-get($colors, primary), 400);
  text-align: center;
  padding-bottom: 10px;
}

.error__input {
  color: map-get(map-get($colors, primary), 400);
  font-size: map-get($map: $sizes, $key: 12);
}

.preventScroll {
  overflow: hidden;
  pointer-events: none;
}
