@use "../abstracts/" as *;

.rdp-head_row {
  color: $accent-color;
}

.rdp-nav_button:hover {
  cursor: pointer;
}

.rdp-caption {
  margin-bottom: 1em;
}

.rdp-months {
  background-color: $dark-color;
  padding: 0.700em;
  border-radius: 10px;
}

.rdp {
  --rdp-background-color: #2bb6bc !important;
  --rdp-accent-color: #2bb6bc !important;
  margin: 0 !important;
}

.rdp-caption_label {
  color: white !important;
  text-transform: uppercase;
}

.rdp-button {
  color: white !important;
}
